yutong_webs/CLW_TQC_CORE/WebRoot/WEB-INF/classes/corexml/Coreall.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="olx">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="client"/>
				<xs:element ref="function"/>
			</xs:choice>
			<xs:attribute name="dir" type="xs:string" use="required"/>
			<xs:attribute name="version" type="xs:string" use="required"/>
			<xs:attribute name="compress" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="client">
		<xs:complexType mixed="true">
			<xs:attribute name="isAuth" type="xs:string"/>
			<xs:attribute name="sessionid" type="xs:string"/>
			<xs:attribute name="operatorid" type="xs:string"/>
			<xs:attribute name="corpid" type="xs:string"/>
			<xs:attribute name="authcode" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="function">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="param"/>
				<xs:element ref="result"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="seq" type="xs:string" use="required"/>
			<xs:attribute name="synchronized" type="xs:string"/>
			<xs:attribute name="timeout" type="xs:string"/>
			<xs:attribute name="needreturn" type="xs:string"/>
			<xs:attribute name="paramencrypt" type="xs:string"/>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="resultencrypt" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tree-object" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="param">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tree-object" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tree-object">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="value"/>
				<xs:element ref="map"/>
				<xs:element ref="list"/>
			</xs:choice>
			<xs:attribute name="version" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="map">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="value"/>
				<xs:element ref="map"/>
				<xs:element ref="list"/>
			</xs:choice>
			<xs:attribute name="key" type="xs:ID" use="required"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="compress" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="list">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="value"/>
				<xs:element ref="map"/>
				<xs:element ref="list"/>
			</xs:choice>
			<xs:attribute name="compress" type="xs:string"/>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="key" type="xs:string" use="required"/>
			<xs:attribute name="class" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="value">
		<xs:complexType mixed="true">
			<xs:attribute name="key" type="xs:string" use="required"/>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="bstr"/>
						<xs:enumeration value="bytes"/>
						<xs:enumeration value="int"/>
						<xs:enumeration value="str"/>
						<xs:enumeration value="bool"/>
						<xs:enumeration value="time"/>					
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
